<% @lists.each do |list| %>
  <div class="list" id="<%= dom_id(list) %>">
    <h3><%= list.name %></h3>
    <div class="nav">
      <%= link_to 'Show', list %> |
      <%= link_to 'Edit', edit_list_path(list) %>
    </div>
  </div>
<% end %>

<br />
<%= link_to 'New List', new_list_path %>
